.main {
  display: grid;
  grid-template-columns: min-content var(--width-central-column) 1fr;
  text-align: center;
  width: var(--width-global);
}

.mainLeft {
  background-color: var(--color-background-primary);
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
  transition: width 0.2s;
  width: max(17vw, 15.3rem);
}

.mainLeftHidden {
  overflow: clip;
  width: 0;
}

.mainCentral {
  background-color: var(--color-secondary);
}

.mainRight {
  background-color: var(--color-secondary);
  color: var(--color-background-primary);
  display: grid;
  grid-auto-rows: min-content;
  justify-items: left;
}
