*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
    font-family: var(--font-family-primary), sans-serif;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    box-sizing: border-box;
    color: var(--color-secondary);
}

html, body {
    height: 100%;
}

#root {
    display: grid;
    overflow: clip;
    min-height: 100%;
    background-color: var(--color-background-secondary);
    justify-items: center;
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    outline: none;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 65%;
    }
}

@media only screen and (min-width: 800px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 75%;
    }
}
