*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  color: var(--color-secondary);
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

html,
body {
  height: 100%;
}

#root {
  background-color: var(--color-background-secondary);
  display: grid;
  justify-items: center;
  min-height: 100%;
  overflow: clip;
}

a {
  color: var(--color-secondary);
  outline: none;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 65%;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 75%;
  }
}
