.article {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    margin: var(--gap-medium);
    padding-left: 1rem;
    text-align: left;
    color: var(--color-primary);
    border-left: var(--color-primary) solid 0.3rem;
}

.year {
    font-size: calc(var(--font-size-small) * 0.8);
}

.title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.description {
    color: var(--color-background-primary);
}