.container {
  display: flex;
  justify-self: center;
}

.item {
  margin-top: -1rem;
}

.itemTitle {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  margin-top: -2rem;
}

.itemImg {
  height: 8rem;
}
