.title {
  color: var(--color-primary);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  justify-self: center;
  margin-bottom: var(--gap-medium);
  margin-top: var(--gap-big);
}

.img {
  height: 10rem;
  justify-self: center;
  margin-bottom: var(--gap-big);
}
